@import "styles/_variables";

.profile_photo {
  img {
    width: 192px;
    height: 192px;
  }

  @media #{$medium-screen} {
    margin: 1.25rem 0 0 0;
    img {
      width: 128px;
      height: 128px;
    }
  }

  @media #{$small-screen} {
    img {
      width: 64px;
      height: 64px;
    }
  }
}

.profile_summary {
  padding: 0.5rem;
  margin: 0 1rem;

  p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media #{$medium-screen} {
    padding: 1rem 0 0 0;
    p {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  @media #{$small-screen} {
    p {
      font-size: 1rem;
    }
  }
}