$break-small: 600px;
$break-medium: 820px;

$small-screen: 'only screen and (max-width : #{$break-small})';
$medium-screen: 'only screen and (max-width : #{$break-medium})';

/* Dark Mode settings */
$dark-color-background: #1B262C;
$dark-color-text: #e3caa5;

/* Light Mode settings */
$light-color-background: #fff3cf;
$maroon-color-text: #643843;
